name: Lint

on:
  # allow manual trigger for forks
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          src: "."
          version: "~= 0.9.5"
      - run: ruff check
      - run: ruff format --check